/************************************************************/
* {
	margin: 0px;
	padding: 0px;
}

body {
    align: left;
    width: 600px;
    margin: 64px 36px 48px 64px;
    padding: 16px 128px 16px 34px;
    color: #c0c0c0;
    background: url("../img/nebula_dark.jpg") no-repeat center fixed;
    background-color: black;
    line-height: 32px;
    font-size: 14px;
    font-family: "Times New Roman";
    border-left: 1px solid #bb22ff;
    line-height: 24px;
}

img.jacket-small {
    border: 1px solid #888888;
    width: 180px;
}

p {
    text-indent:14px;
    text-align:justify;
    text-justify: auto;
}

ul {
    margin-top: -10px;
}

p.noindent {
    text-indent:0px;
    text-align:justify;
    text-justify: auto;
}

div.narrow {
    align: right;
    padding-left: 64px;
    line-height: 32px;
    font-size: 14px;
    border-left: 1px solid #bb22ff;
}

/************************************************************/
a:link, a:visited, a:active {
    color: #bb22ff;
    text-decoration: underline;
}   
a:hover {
    color: #ee88ff;
    text-decoration: underline;
}

/************************************************************/
div#header {
    width: 100%;
    height: 90px;
    font-size: 32px;
    color: #ee88ff;
    font-weight: bold;
}

div#pagetitle {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #ee88ff;
    margin-bottom: 24px;
    border-top: 1px solid #ee88ff;
    border-bottom: 1px solid #ee88ff;
    padding: 10px;
}

div#select-lang {
    text-align: right;
    margin-bottom: 16px;
}

div#contents {
    width: 100%;
}

div#footer {
    clear: left;
    width: 100%;
    font-size: 12px;
    text-align: right;
    padding-top: 80px;
}

/************************************************************/
div.section {
    margin: 8px 0px;
    font-size: 20px;
    color: #ee88ff;
}

/************************************************************/
div.indent {
    margin-left : 32px;
    margin-bottom : 28px;
}

div.line-feed {
    clear: left;
}

/************************************************************/
.tab-item {
    color: #c0c0c0;
    text-decoration: none;
	display: block;
    clear: left;
    background-color: #3c2147;
	border-bottom: 1px solid #ee88ff;
}

div.tab-title {
    width: 40%;
    float : left;
}

div.tab-genre {
    width: 28%;
    float : left;
}

div.tab-album {
    width: 9%;
    float : left;
}

div.tab-length {
    width: 9%;
    float : left;
	text-align: right;
}

/************************************************************/
div.disc-note {
    width: 68%;
    float : left;
    margin-bottom: 20px;
}

div.disc-image {
    width: 30%;
    float : left;
    margin-bottom: 20px;
}

/************************************************************/
div.tab-title, div.tab-genre, div.tab-album {
    padding: 0px 20px ;
}

/************************************************************/
div.tab-head {
    font-weight: bold;
    background-image: url(../img/grad_40x2.png);
    background-repeat: repeat-x;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    font-weigt: bold;
}

/************************************************************/

@media screen and (max-width:479px){
	body {
		width: 100%;
		margin: 16px 0px 24px 0px;
		padding: 0px;
		border-left: none;
	}

	div.indent {
		margin-left : 0px;
	}

	div.tab-title {
		width: 60%;
		float : left;
	}
	
	div.tab-genre {
		width: 40%;
		float : left;
	}
	
	div.tab-length {
		display: none;
	}

	div.disc-note {
		width: 40%;
		margin-bottom: 20px;
	}
	
	div.disc-image {
		width: 40%;
		position: relative;
		right: 0;
		margin-bottom: 20px;
	}

	div.tab-title, div.tab-genre, div.tab-album {
		padding: 0px;
	}

	div.tab-album {
		display: none;
	}

	div#pagetitle {
		padding: 0px;
	}

	div#header {
		height: 50px;
		font-size: 28px;
	}

	div#pagetitle {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 12px;
		border-top: 1px solid #ee88ff;
		border-bottom: 1px solid #ee88ff;
		padding: 0px;
	}
	
}
